<!DOCTYPE html>
<html>

<head>
    <title>fundstrtr|user profile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/logo150.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/user-profile.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <style>
        form {
            height: 50vh;
        }
    </style>
</head>

<body>
    <!--Nav-->
    <nav class="navbar navbar-expand-md py-3 sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1585083673/Frame_nct3fp.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navlinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"
                            style="color: #283990; font-size:28px;"></i></span>
                </button>

            <div class="collapse navbar-collapse" id="navlinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-1">
                        <a class="nav-link btn px-4 py-2 donatees" href="/donation-opportunities">Investment Opportunities</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="/investing">Investing</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" href="/raising">Raising</a>
                    </li>

                    <li class="nav-item mx-4">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>

                    <%if(!currentUser){%>
                        <li class="nav-item mx-4">
                            <a class="nav-link login" href="#" data-toggle="modal" data-target="#Login">Login</a>
                        </li>

                        <li class="nav-item mx-3">
                            <a id="jn" class="nav-link btn btn-primary border-0 px-5 py-2 joinbutton" href="/signup">Join</a>
                        </li>
                        <%}else{%>
                            <li class="nav-item mx-4">
                                <a class="nav-link login" href="/logout">Log Out</a>
                            </li>
                            <%if(!currentUser.profileImage){%>
                                <li class="nav-item mx-3">
                                    <a id="jn" class="nav-link login" href="/my-profile/<%=currentUser._id%>">Signed in as <%=currentUser.username.substring(0,6)%></a>
                                </li>
                                <%}else{%>
                                    <li class="nav-item mx-3">
                                        <a href="/my-profile/<%=currentUser._id%>"><img style="width:43px;height:43px; border-radius: 50px; border: 1px solid #91BE32;" src="<%=data.profileImage%>" alt=""></a>
                                    </li>
                                    <%}%>
                                        <%}%>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>Hi, </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <form action="/forgot-password" method="POST">
                    <div class="form-group">
                        <label for="email">Email addresss</label>
                        <input type="text" class="form-control" name="email" id="email">

                        <button class="btn btn-danger mt-5" type="submit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <%-include('../partials/footer')%>
</body>

</html>