<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/assets/logo150.png">
    <title>fundstrtr| company-info-dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!--   Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|PT+Sans:700&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/editPitch.css">

</head>

<body>
    <!--Upload modal-->
    <div class="container">
        <div class="modal fade" id="upload-photo-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><img class="closeModal"
                            src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1590442330/Fundstrtr/Group_1193_ogdtn0.png"
                        alt="closeModal"></button>
                    </div>

                    <div class="modal-body">
                        <form action="" method="post" id="uploadForm" style="padding: 10px; font:'Montserrat';">
                            <label for="">Upload Company Logo:</label><br>
                            <p>For best image quality upload an image of 250w x 253h pixels</p>
                            <input type="file" name="companyLogo" id="logo" required><br>
                            <input type="button" class="btn btn-primary mt-2" value="Upload" id="uploadBtn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="wrapper">
        <!--SideBar-->
        <div class="sidebar" data-color="#283990">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="edit-photo" data-target="#upload-photo-modal" data-toggle="modal">
                        <%if(!data.companyLogo){%>
                            <img class="ml-md-3" src="https://res.cloudinary.com/https-eazifunds-com/image/upload/v1602708697/Group_1279_toyxda.png" alt="">
                            <%}else{%>
                                <div class="card logo-card" style="    width: 150px;height: 150px;border-radius: 25px;margin-left: 1.5rem;">
                                    <img class="" src="<%=data.companyLogo%>" alt="company Logo">
                                </div>
                                <%}%>
                    </a>
                    <a href="/donation-opportunities/pitches/<%=data._id%>/details" class="simple-text logo-normal text-center" style="margin-top: -40px;">
                        <%=data.tradingName%>
                    </a>
                    <p class="edit-text text-center">Edit company logo</p>
                </div>



                <ul class="nav">
                    <li class="">
                        <a href="/donation-opportunities/pitches/<%=data._id%>/details/edit/dashboard">
                            <i class="fas fa-chart-pie"></i>
                            <p class="side-bar-text">Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/donation-opportunities/pitches/<%=data._id%>/details/edit/profile">
                            <i class="far fa-id-card"></i>
                            <p class="side-bar-text">Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="/donation-opportunities/pitches/<%=data._id%>/details/edit/business_information">
                            <i class="far fa-building"></i>
                            <p class="side-bar-text">Business Information</p>
                        </a>
                    </li>
                    <li>
                        <a href="/donation-opportunities/pitches/<%=data._id%>/details/edit/company_information">
                            <i class="far fa-building"></i>
                            <p class="side-bar-text">Company Information</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="far fa-bell"></i>
                            <p class="side-bar-text">Notifications</p>
                        </a>
                    </li>
                    <li>
                        <a href="/investopp/pitches/<%=data._id%>/details/edit/company_documents">
                            <i class="far fa-file"></i>
                            <p class="side-bar-text">Uploaded Documents</p>
                        </a>
                    </li>

                    <div class="logo">
                        <a href="#" class="tracking mt-2">Tracking</a>
                    </div>
                    <li>
                        <a href="/donation-opportunities/pitches/<%=data._id%>/details/edit/reports">
                            <i class="fas fa-money-bill-alt"></i>
                            <p class="side-bar-text">Investments</p>
                        </a>
                    </li>
                    <li>
                        <a href="/donation-opportunities/pitches/<%=data._id%>/details/comments">
                            <i class="far fa-comments"></i>
                            <p class="side-bar-text">Comments</p>
                        </a>
                    </li>
                    <hr>
                    <li>
                        <a href="/helpcenter">
                            <i class="far fa-question-circle"></i>
                            <p class="side-bar-text">Help</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-phone"></i>
                            <p class="side-bar-text">Contact Us</p>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="far fa-arrow-alt-circle-left"></i>
                            <p class="side-bar-text">Home</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--SideBar-->

        <div class="main-panel">
            <!-- Navbar -->

            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent py-2">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#">Your Dashboard</a>
                    </div>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="search-bar input-group">
                                <!--search-->
                                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="fas fa-search"></i>
                                <span class="d-lg-none d-md-block">Search</span>
                              </button>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="dropdownlinks">
                                    <div class="photo">
                                        <img src="/assets/logo150.png" alt="Profile Photo">
                                    </div>
                                    <b class="caret d-none d-lg-block d-xl-block"></b>
                                    <p class="d-lg-none">Log out</p>
                                </a>
                                <ul class="dropdown-menu dropdown-navbar" aria-labelledby="dropdownlinks">
                                    <li class="nav-link"><a href="/" class="nav-item dropdown-item">Home</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li class="nav-link"><a href="/investopp/pitches/<%=data._id%>/details/settings" class="nav-item dropdown-item">Settings</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li class="nav-link"><a href="#" class="nav-item dropdown-item">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!--Search Modal-->
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="far fa-window-close"></i>
                      </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Search Modal-->
            <!-- End Navbar -->

            <!--Main Content-->
            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-chart">
                            <div class="card-header ">
                                <div class="card-body">
                                    <form action="/investopp/pitches/<%=data._id%>?_method=PUT" method="POST">
                                        <h1 class="mt-4"><i class="far fa-registered"></i> Valid Company Information</h1>
                                        <small>Note: You would be asked to provide supporting documents</small><br>
                                        <label for="companyNumber">Company number</label>
                                        <input class="form-control" id="companyNumber" type="text" name="pitch[companyNumber]" value="<%=data.companyNumber%>" required readonly>

                                        <label for="companyName">Registered Company name</label><br>
                                        <small>This is your official registered name on certificate of incorporation, it will be used on legal documentation</small>
                                        <input class="form-control" id="companyName" type="text" name="pitch[registeredCompanyName]" value="<%=data.registeredCompanyName%>" required>

                                        <label for="tradingName">Trading name</label><br>
                                        <small>This should be the name you are known by and will be how your raise is referred to on your pitch </small>
                                        <input class="form-control" id="tradingName" type="text" name="pitch[tradingName]" value="<%=data.tradingName%>" required>

                                        <label for="addressLine1">Address line 1</label>
                                        <input class="form-control" id="addressLine2" type="text" name="pitch[addressLine1]" value="<%=data.addressLine1%>" required>

                                        <label for="addressLine2">Address line 2</label>
                                        <input class="form-control" id="addressLine2" type="text" name="pitch[addressLine2]" value="<%=data.addressLine2%>">

                                        <label for="city">City</label>
                                        <input class="form-control" id="city" type="text" name="pitch[city]" value="<%=data.city%>" required>

                                        <label for="companywebsite">Company website URL</label><br>
                                        <small style="color: red;">Ensure website URL is typed in the right format</small>
                                        <input class="form-control" id="companywebsite" type="url" name="pitch[companyWebsite]" placeholder="https://www.example.com" pattern="https?://.*" value="<%=data.companyWebsite%>" required>

                                        <label for="facebookUrl">Facebook URL</label><br>
                                        <input class="form-control" id="facebookUrl" type="url" name="pitch[facebookUrl]" placeholder="https://facebook.com/profile" pattern="https?://.*" value="<%=data.facebookUrl%>" required>

                                        <label for="twitterUrl">Twitter URL</label><br>
                                        <input class="form-control" id="twitterUrl" type="url" name="pitch[twitterUrl]" placeholder="https://twitter.com/profile" pattern="https?://.*" value="<%=data.twitterUrl%>" required>

                                        <label for="instagramUrl">Instagram URL</label>
                                        <input class="form-control" id="instagramUrl" type="url" name="pitch[instagramUrl]" placeholder="https://www.instagram.com/profile" pattern="https?://.*" value="<%=data.instagramUrl%>" required>

                                        <label for="linkedInUrl">LinkedIn URL</label>
                                        <input class="form-control" id="linkedInUrl" type="url" name="pitch[linkedinUrl]" placeholder="https://www.linkedin.com/company/eazifunds" pattern="https?://.*" value="<%=data.linkedinUrl%>" required>

                                        <label for="executiveSummary">Executive Summary</label>
                                        <textarea required class="form-control" name="pitch[executiveSummary]" id="executiveSummary" cols="50" rows="10"><%=data.executiveSummary%></textarea>

                                        <label for="milestone">Milestone</label>
                                        <input class="form-control" id="milestone" type="text" name="pitch[milestone]" value="<%=data.milestone%>" required>

                                        <label for="equityOffer">Equity Offer</label><br>
                                        <small>How much are you looking to give off to investors based of your valuation?</small>
                                        <input class="form-control" id="equityOffer" type="text" name="pitch[equityOffer]" placeholder="5%" value="<%=data.equityOffer%>" readonly required>

                                        <label for="pmv">premoneyValuation</label><br>
                                        <input class="form-control" id="pmv" type="text" name="pitch[premoneyValuation]" value="<%=data.premoneyValuation%>" required>

                                        <label for="sharePrice">Share Price ($)</label><br>
                                        <input class="form-control" id="sharePrice" type="text" name="pitch[sharePrice]" value="<%=data.sharePrice%>" required readonly>

                                        <label for="idea">Idea</label>
                                        <textarea required class="form-control" name="pitch[idea]" id="idea" cols="50" rows="10"><%=data.idea%></textarea>

                                        <label for="Team">Team</label><br>
                                        <small>Brief profile on the key Management: CEO, CTO, CFO, Head Products etc. As it is in your company. <strong>At least 3 team members are required</strong></small><br>

                                        <div class="accordion mt-4" id="accordion">
                                            <div class="card fs-faq-card">
                                                <div class="card-header" id="headingOne">
                                                    <h2 class="mb-0 fs-faq">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Member 1
                                                        </button>
                                                    </h2>
                                                </div>

                                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <input class="form-control my-1" id="team_name" type="text" name="pitch[teamMember1.name]" placeholder="name" value="<%=data.teamMember1.name%>" required>
                                                        <input class="form-control my-1" id="team_position" type="text" name="pitch[teamMember1.position]" placeholder="position" value="<%=data.teamMember1.position%>" required>
                                                        <textarea class="form-control my-1" id="team_details" type="text" name="pitch[teamMember1.details]" placeholder="Details" cols="30" rows="8" maxlength="300" required><%=data.teamMember1.details%></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card fs-faq-card">
                                                <div class="card-header" id="headingTwo">
                                                    <h2 class="mb-0 fs-faq">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                            Member 2
                                        </button>
                                                    </h2>
                                                </div>

                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <input class="form-control my-1" id="team_name" type="text" name="pitch[teamMember2.name]" placeholder="name" value="<%=data.teamMember2.name%>" required>
                                                        <input class="form-control my-1" id="team_position" type="text" name="pitch[teamMember2.position]" placeholder="position" value="<%=data.teamMember2.position%>" required>
                                                        <textarea class="form-control my-1" id="team_details" type="text" name="pitch[teamMember2.details]" placeholder="Details" cols="30" rows="8" maxlength="300" required><%=data.teamMember2.details%></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card fs-faq-card">
                                                <div class="card-header" id="headingThree">
                                                    <h2 class="mb-0 fs-faq">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                            Member 3
                                        </button>
                                                    </h2>
                                                </div>

                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <input class="form-control my-1" id="team_name" type="text" name="pitch[teamMember3.name]" placeholder="name" value="<%=data.teamMember3.name%>">
                                                        <input class="form-control my-1" id="team_position" type="text" name="pitch[teamMember3.position]" placeholder="position" value="<%=data.teamMember3.name%>">
                                                        <textarea class="form-control my-1" id="team_details" type="text" name="pitch[teamMember3.details]" placeholder="Details" cols="30" rows="8" maxlength="300"><%=data.teamMember3.details%></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card fs-faq-card">
                                                <div class="card-header" id="headingOne">
                                                    <h2 class="mb-0 fs-faq">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                                            Member 4
                                        </button>
                                                    </h2>
                                                </div>

                                                <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <input class="form-control my-1" id="team_name" type="text" name="pitch[teamMember4.name]" placeholder="name" value="<%=data.teamMember4.details%>">
                                                        <input class="form-control my-1" id="team_position" type="text" name="pitch[teamMember4.position]" placeholder="position" value="<%=data.teamMember4.details%>">
                                                        <textarea class="form-control my-1" id="team_details" type="text" name="pitch[teamMember4.details]" placeholder="Details" cols="30" rows="8" maxlength="300"><%=data.teamMember4.details%></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card fs-faq-card">
                                                <div class="card-header" id="headingOne">
                                                    <h2 class="mb-0 fs-faq">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                                                            Member 5
                                                        </button>
                                                    </h2>
                                                </div>

                                                <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body">
                                                        <input class="form-control my-1" id="team_name" type="text" name="pitch[teamMember5.name]" placeholder="name" value="<%=data.teamMember5.details%>">
                                                        <input class="form-control my-1" id="team_position" type="text" name="pitch[teamMember5.position]" placeholder="position" value="<%=data.teamMember5.details%>">
                                                        <textarea class="form-control my-1" id="team_details" type="text" name="pitch[teamMember5.details]" placeholder="Details" cols="30" rows="8" maxlength="300"><%=data.teamMember5.details%></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button id="updateBtn" class="btn btn-outline-danger">Update</button>
                                    </form>



                                    <label for="Team">Team</label><br>
                                    <small>Upload your team member pictures</small><br>

                                    <div class="row">

                                        <div class="col-4">
                                            <div class="card fs-faq-card">
                                                <div class="card-body">
                                                    <form id="uploadTeamMemberForm">
                                                        <label for="">Member 1</label>
                                                        <input class="form-control" id="picture" type="file" name="teamMember1.picture" required>
                                                        <input id="updateTeamMemberBtn" onclick="toUploadTeamPhoto('uploadTeamMemberForm', 'updateTeamMemberBtn', 'team-member1')" class="btn btn-outline-danger" type="button" value="Upload">
                                                    </form>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-4">
                                            <div class="card fs-faq-card">
                                                <div class="card-body">
                                                    <form id="uploadTeamMemberForm2">
                                                        <label for="">Member 2</label>
                                                        <input class="form-control" id="picture" type="file" name="teamMember1.picture" required>
                                                        <input id="updateTeamMemberBtn2" onclick="toUploadTeamPhoto('uploadTeamMemberForm2', 'updateTeamMemberBtn2', 'team-member2')" class="btn btn-outline-danger" type="button" value="Upload">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <div class="card fs-faq-card">
                                                <div class="card-body">
                                                    <form id="uploadTeamMemberForm3">
                                                        <label for="">Member 3</label>
                                                        <input class="form-control" id="picture" type="file" name="teamMember1.picture" required>
                                                        <input id="updateTeamMemberBtn3" onclick="toUploadTeamPhoto('uploadTeamMemberForm3', 'updateTeamMemberBtn3', 'team-member3')" class="btn btn-outline-danger" type="button" value="Upload">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="col-3">
                                            <div class="card fs-faq-card">
                                                <div class="card-body">
                                                    <form id="uploadTeamMemberForm4">
                                                        <label for="">Member 4</label>
                                                        <input class="form-control" id="picture" type="file" name="teamMember1.picture" required>
                                                        <input id="updateTeamMemberBtn4" onclick="toUploadTeamPhoto('uploadTeamMemberForm4', 'updateTeamMemberBtn4', 'team-member4')" class="btn btn-outline-danger" type="button" value="Upload">
                                                    </form>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="card fs-faq-card">
                                                <div class="card-body">
                                                    <form id="uploadTeamMemberForm5">
                                                        <label for="">Member 5</label>
                                                        <input class="form-control" id="picture" type="file" name="teamMember1.picture" required>
                                                        <input id="updateTeamMemberBtn5" onclick="toUploadTeamPhoto('uploadTeamMemberForm5', 'updateTeamMemberBtn5', 'team-member5')" class="btn btn-outline-danger" type="button" value="Upload">
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div> -->


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--Footer-->
            <!--Removed footer in partial-->
            <!--Footer-->
        </div>
    </div>



    <!--Settings at right-->
    <div class="fixed-plugin">
        <div class="dropdown show-dropdown">
            <a href="#" data-toggle="dropdown"><i class="fa fa-cog fa-2x"> </i></a>
            <ul class="dropdown-menu">
                <li class="header-title">Theme</li>
                <!-- <li class="adjustments-line">
                    <a href="#" class="switch-trigger background-color">
                        <div class="badge-colors text-center">
                            <span class="badge filter badge-primary active" data-color="primary"></span>
                            <span class="badge filter badge-info" data-color="blue"></span>
                            <span class="badge filter badge-success" data-color="green"></span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li> -->
                <li class="adjustments-line text-center color-change">
                    <span class="color-label">LIGHT MODE</span>
                    <span class="badge light-badge mr-2"></span>
                    <span class="badge dark-badge ml-2"></span>
                    <span class="color-label">DARK MODE</span>
                </li>
            </ul>
        </div>
    </div>
    <!--Settings at right-->

    <input disabled type="text" id="tixdt" value="<%=data._id%>">

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a6f7970f75.js" crossorigin="anonymous"></script>

    <script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>
    <script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Chartist JS -->
    <script src="/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/black-dashboard.js?v=1.0.0" type="text/javascript"></script>
    <!--Axois CDN-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/javascript/companyinfo.js"></script>
</body>

</html>

<script>
    $(document).ready(function() {
        $().ready(function() {
            $sidebar = $('.sidebar');
            $navbar = $('.navbar');
            $main_panel = $('.main-panel');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');
            sidebar_mini_active = true;
            white_color = false;

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

            $('.fixed-plugin a').click(function(event) {
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .background-color span').click(function() {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data', new_color);
                }

                if ($main_panel.length != 0) {
                    $main_panel.attr('data', new_color);
                }

                if ($full_page.length != 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr('data', new_color);
                }
            });

            $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
                var $btn = $(this);

                if (sidebar_mini_active == true) {
                    $('body').removeClass('sidebar-mini');
                    sidebar_mini_active = false;
                    blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                } else {
                    $('body').addClass('sidebar-mini');
                    sidebar_mini_active = true;
                    blackDashboard.showSidebarMessage('Sidebar mini activated...');
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function() {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function() {
                    clearInterval(simulateWindowResize);
                }, 1000);
            });

            //Theme 
            $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
                var $btn = $(this);

                if (white_color == true) {
                    $('body').addClass('change-background');
                    setTimeout(function() {
                        $('body').removeClass('change-background');
                        $('body').removeClass('white-content');
                    }, 900);
                    white_color = false;
                } else {

                    $('body').addClass('change-background');
                    setTimeout(function() {
                        $('body').removeClass('change-background');
                        $('body').addClass('white-content');
                    }, 900);

                    white_color = true;
                }


            });

            //Theme Badges
            $('.light-badge').click(function() {
                $('body').addClass('white-content');
            });

            $('.dark-badge').click(function() {
                $('body').removeClass('white-content');
            });

            $('.nav li').click(function(event) {
                $('.active').removeClass('active');

                //add active class to clicked link
                $(this).addClass('active');

            });
        });
    });

    var inputs = document.getElementsByTagName('input')
    for (i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener("click", function() {
            this.classList.toggle("input-border")
        })
    }
</script>